[submodule "apps/omb-odos"]
	path = apps/omb-odos
	url = https://github.com/usman0xff/omb-odos.git
[submodule "apps/miniweather"]
	path = apps/miniweather
	url = https://github.com/usman0xff/miniweather.git
